.quire-page__content table {
    font-size: 0.75em;   
}

.quire-contributors-list li {
    font-style: italic;
}

.page-break {
    border: none;
    margin: 0;
    page-break-before: always;  
    visibility: hidden;
}
  